

BODY {
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	scrollbar-arrow-color: #ff6600;
	scrollbar-base-color: #99CCFF;
	scrollbar-dark-shadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3d-light-color: #FFFFFF;
}

TD {
	color : Black;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
}


